




{% if app.user %}

    <div class="d-flex align-items-center">
        <div class="m-2"><img src="img/chocolate.jpg" style="width:60px;" /></div>
        <div>{{app.user.email}} Connected <br /> <a href="" >logout</a></div>
    </div>

    
{% endif %}

